html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 600;
}

h1 {
  font-family: "Fraunces 144pt S000", sans-serif;
  font-size: clamp(3.125rem, 0.0625rem + 7.6vw, 5rem);
  line-height: clamp(3.125rem, 0.0625rem + 7.6vw, 5rem);
}

h2 {
  font-family: "Fraunces 144pt S000", sans-serif;
  font-size: 1.75rem;
  line-height: 2.25rem;
}
@media (min-width: 90em) {
  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h3 {
  font-family: "Fraunces 144pt S000", sans-serif;
  font-size: clamp(2rem, 0.0625rem + 6.1vw, 3.5rem);
  line-height: clamp(3rem, 0.0625rem + 6.1vw, 4rem);
}

p {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
}
@media (min-width: 90em) {
  p {
    font-size: 1.125rem;
    line-height: 2rem;
  }
}

a,
a:visited,
a:active {
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: -0.16px;
}
@media (min-width: 90em) {
  a,
  a:visited,
  a:active {
    font-size: 1.125rem;
    letter-spacing: -0.18px;
  }
}

:root {
  --dark-purple: #24053e;
  --eucaplyptus: #44ffa1;
  --davys-grey: #584d62;
  --ghost-white: #fcf8ff;
  --white: #ffffff;
}

.header {
  padding-inline: 1rem;
  padding-block-start: 2rem;
  background-color: var(--dark-purple);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 43.75em) {
  .header {
    padding-inline: 2.5rem;
  }
}
@media (min-width: 90em) {
  .header {
    padding-inline: 10.3125rem;
    padding-block-start: 3.625rem;
  }
}
.header__link {
  color: var(--white);
  border-bottom: 3px solid var(--eucaplyptus);
  padding-block-end: 2px;
}
.header__link:hover {
  color: var(--eucaplyptus);
}

.hero {
  padding-block-start: 4rem;
  padding-inline: 1rem;
  background-color: var(--dark-purple);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-end-start-radius: 50% 15px;
  border-end-end-radius: 50% 15px;
  position: relative;
}
@media (min-width: 43.75em) {
  .hero {
    background-image: url(../assets/images/bg-pattern-1.svg), url(../assets/images/bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-position: top left -237px, bottom 109px right -103px;
  }
}
@media (min-width: 90em) {
  .hero {
    background-position: top left -148px, bottom 235px right -58px;
  }
}
.hero__heading {
  color: var(--white);
  text-align: center;
}
@media (min-width: 43.75em) {
  .hero__heading {
    width: 60%;
  }
}
@media (min-width: 90em) {
  .hero__heading {
    width: 40%;
  }
}
.hero__heading--underline {
  border-bottom: 3px solid var(--eucaplyptus);
}
.hero__button {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
  letter-spacing: -0.16px;
  color: var(--dark-purple);
  background-color: var(--eucaplyptus);
  border: none;
  padding: 0.5625rem 1.375rem 0.625rem 1.3125rem;
  border: 2px solid var(--eucaplyptus);
  margin-block-start: 2.5rem;
}
.hero__button:hover {
  cursor: pointer;
  background-color: var(--dark-purple);
  color: var(--eucaplyptus);
}
@media (min-width: 90em) {
  .hero__button {
    margin-block-start: 2.3125rem;
    padding: 0.6875rem 1.84375rem 0.875rem 1.90625rem;
  }
}
.hero__image {
  display: block;
  width: 20rem;
  margin-block-start: 4rem;
  margin-block-end: -5.75rem;
}
@media (min-width: 43.75em) {
  .hero__image {
    width: 32.125rem;
    margin-block-start: 3.4375rem;
    margin-block-end: -9.25rem;
  }
}
@media (min-width: 90em) {
  .hero__image {
    width: 47.9375rem;
    margin-block-start: 3.125rem;
    margin-block-end: -13.75rem;
  }
}

.cards {
  background-color: var(--ghost-white);
  padding-block-start: 15.3125rem;
  margin-block-start: -5.625rem;
  padding-inline: 1rem;
  padding-block-end: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  border-end-start-radius: 50% 15px;
  border-end-end-radius: 50% 15px;
  justify-content: center;
}
@media (min-width: 43.75em) {
  .cards {
    gap: 3rem;
    padding-inline: 5.6875rem;
    margin-block-start: -8.75rem;
    padding-block-start: 21.4375rem;
  }
}
@media (min-width: 56.25em) {
  .cards {
    flex-direction: row;
    gap: 3rem;
    padding-inline: 5.6875rem;
    margin-block-start: -10.625rem;
    padding-block-start: 26.5625rem;
  }
}
.cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (min-width: 43.75em) {
  .cards .card {
    flex-direction: row;
    text-align: start;
    gap: 2rem;
  }
}
@media (min-width: 56.25em) {
  .cards .card {
    flex-direction: column;
    text-align: center;
    gap: 1.625rem;
  }
}
.cards .card__number {
  font-family: "Fraunces 144pt S000";
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2.25rem;
  text-align: center;
  color: var(--dark-purple);
  padding: 0.25rem 1.125rem;
  border: 1px solid var(--davys-grey);
  border-radius: 1.90625rem;
}
.cards .card__heading {
  color: var(--dark-purple);
  margin-block-start: 1.5rem;
}
@media (min-width: 43.75em) {
  .cards .card__heading {
    margin-block-start: 0;
  }
}
.cards .card__para {
  color: var(--davys-grey);
  margin-block-start: 1rem;
}
@media (min-width: 56.25em) {
  .cards .card__para {
    max-width: 22.125rem;
  }
}

/*# sourceMappingURL=styles.css.map */
